*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111238;
}

.header {
  background-color: #F2F3F6;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item:not(:last-child) {
  margin-right: 20px;
}

.menu-link {
  color: #111238;
  text-decoration: none;
}

.button {
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-link {
  color: #111238;
  padding: 15px;
  margin-right: 30px;
}

.button-primary {
  background: #1A75E8;
  color: #fff;
  border-radius: 5px;
  padding: 15px 30px;
  border: none;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 53px;
  margin-bottom: 15px;
  margin-top: 43px;
}

.hero-text {
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 30px;
}

.input-group {
  background: #FFFFFF;
  border: 1px solid rgba(209, 209, 209, 0.1);
  box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
}

.input {
  background-color: #fff;
  border: none;
  flex-grow: 1;
  font-size: 16px;
  line-height: 19px;
  padding-left: 15px;
}

.button-icon {
  vertical-align: middle;
  margin-right: 10px;
}

.button-text {
  vertical-align: middle;
}

.tags-group {
  padding-left: 15px;
  color: #B2B2B2;
  font-size: 14px;
  line-height: 17px;
}

.tag {
  text-decoration: none;
  color: #B2B2B2;
  padding: 5px 10px;
  border: 1px solid #B2B2B2;
  border-radius: 5px;
  margin-left: 10px;
}

.section {
  padding-top: 70px;
  padding-bottom: 80px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 40px;
}

.card {
  text-decoration: none;
  color: #111238;
  background: #f2f3f6;
  border-radius: 10px;
  padding: 35px;
  transition: background 0.2s, color 0.2s;
}

.card:hover {
  background: #1a75e8;
  color: #fff;
}

.card:hover .card-icon {
  fill: #FFF;
}

.card-icon {
  fill: #111238;
  margin-bottom: 15px;
  transition: fill 0.2s,
}

.offer {
  padding: 30px;
  border: 1px solid #C5C9D5;
  border-radius: 10px;
  margin-bottom: 20px;
}

.offer-logo {
  border: 1px solid #F2F3F6;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background: #fff url(../img/logo-company.png) no-repeat center / contain;
  margin-right: 20px;
}

.offer-text {
  margin-right: 46px;
}

.offer-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}

.offer-description {
  margin-top: 10px;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.8;
}

.salary {
  font-weight: bold;
  margin-right: 62px;
}

.stack {
  color: #B2B2B2;
}

.more-link {
  margin-left: auto;
  text-decoration: none;
  color: #1A75E8;
  font-size: 14px;
  line-height: 17px;
  margin-right: 25px;
}

.vacancy-button {
  margin-top: 44px;
}

.subscribe {
  background: #F2F3F6;
}

.subscribe-form {
  max-width: 460px;
  margin: auto;
  text-align: center;
}

.subscribe-title {
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 20px;
}

.subscribe-subtitle {
  Font-size: 18px;
  Line-height: 140%;
  margin-bottom: 40px;
}

.footer {
  padding-top: 70px;
  padding-bottom: 100px;
}

.footer-description,
.footer-copy {
  font-size: 12px;
  line-height: 140%;
  color: #B2B2B2;
}

.footer-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-list-link {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #111238;
}